.pnl-wrapper {
    border: 1px solid #cccccc;

    .pnl-header {
        background-color: #009900;
        color: #ffffff;
        padding: 0.5rem 1rem;
    }

    .pnl-body {
        padding: 1rem;
    }
}
