@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

.ndl-modal {
    box-sizing: border-box;
    $parent: &;
    position: fixed;
    width: 100%;
    z-index: 1001;

    &-container {
        justify-content: center;
        #{$parent}-wrapper {
            #{$parent}-content {
                background-color: #ffffff;
            }
        }
    }
}
